* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

ul,
ol{
	margin: 0;
	padding: 0 2vw;
}

.site-footer.site-footer_ttoc,
.site-header.site-header_ttoc{
	margin: 0;
	padding: 0;
	max-width: none;
}